.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  max-width: 1024px;
  margin: 0 auto;
}

.header__div1,
.header__div2,
.header__div3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__li {
  margin: 0 10px;
  list-style-type: none;
}

.header__container a {
  color: rgba(255, 255, 255, 0.774);
}

.header__container a:hover {
  color: white;
}

.header__socialIcons {
  transition: 0.3s ease;
  color: white;
  border-radius: 20px;
}

.header__socialIcons:hover {
  background-color: #212d45;
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .header__div1,
  .header__div3 {
    display: none;
  }
}
