.hero__container {
  width: 160%;
  padding: 0 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero__sectionTitle {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.hero__daniel {
  background: linear-gradient(
    140deg,
    rgba(158, 96, 203, 1) 0%,
    rgba(44, 247, 255, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero__developer {
  font-size: 2.6rem;
}

.hero__sectionText {
  font-size: 1.4rem;
  color: #d2d2d2;
}

.hero__learnMore {
  padding: 16px 28px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(
    140deg,
    rgba(158, 96, 203, 1) 25%,
    rgb(26, 125, 150) 100%
  );
  opacity: 0.8;
  font-size: 1.4rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

.hero__learnMore:hover {
  opacity: 1;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .hero__container {
    width: 100vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .hero__container {
    padding: 0 20px;
  }
  .hero__sectionTitle,
  .hero__developer {
    font-size: 2.2rem;
  }

  .hero__sectionText {
    font-size: 1.1rem;
  }
}
