.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  max-width: 1024px;
  margin: 0 auto;
}

.footer__hr {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}

.footer__contactContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  background: rgb(32, 32, 32);
  background: linear-gradient(297deg, rgb(31, 31, 31) 6%, rgb(54, 54, 54) 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.footer__contactRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.8;
  transition: 0.2s ease;
  margin-bottom: 26px;
  cursor: pointer;
}

.footer__contactRow svg {
  margin-right: 10px;
  cursor: pointer;
}
.footer__contactRow:hover {
  opacity: 1;
}

.footer__contactForm {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 10px;
  color: #333;
  font-size: 28px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgb(116, 116, 116);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__form {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 10px;
  color: #333;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__form textarea {
  resize: none;
  font-size: 18px;
  font-family: sans-serif;
}

.footer__form input,
.footer__form textarea {
  padding: 10px;
  margin: 10px;
  border: none;
  width: 100%;
  color: #333;
  border: 1px solid var(--background1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
  background: #f2f2f2;
}

.footer__form input:focus,
.footer__form textarea:focus {
  border: 1px solid rgb(55, 183, 206);
  background: white;
}

.footer__form input::placeholder,
.footer__form textarea::placeholder {
  font-size: 16px;
  color: #333;
  opacity: 1; /* Firefox */
}

.footer__form input:-ms-input-placeholder,
.footer__form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  color: #333;
}

.footer__form input::-ms-input-placeholder,
.footer__form textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 16px;
  color: #333;
}

.footer__form button {
  padding: 12px 32px;
  background-color: rgb(32, 119, 126);
  color: white;
  border: none;
  outline: none;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 4px;
}

.footer__form button:hover {
  background-color: rgb(55, 183, 206);
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .footer__contactRow {
    opacity: 1;
    margin-bottom: 36px;
  }

  .footer__contactRow {
    opacity: 1;
    font-size: 0.9rem;
  }
}
