.technologies__container {
  max-width: 1024px;
  padding: 0 40px;
}

.technologies__stack {
  display: grid;
  justify-items: space-between;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
}

.technologies__stackDiv {
  margin-right: 40px;
}

.technologies__stackDiv svg {
  color: cyan;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .technologies__stack {
    width: 90vw;
    display: block;
  }
  .technologies__stackDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px auto;
  }
  .technologies__stackDiv h3 {
    margin: 10px 0;
    width: 160px;
  }
  .technologies__stackDiv p {
    margin: 0px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .technologies__container {
    padding: 0 20px;
  }
}
