.projects__container {
  max-width: 1024px;
  padding: 0 40px;
}

.projects__projectsGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .projects__container {
    padding: 0 20px;
  }
}
