html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  --primary1: hsl(204, 23.8%, 95.9%);
  --background1: #0f1624;
  --accent1: hsl(34.9, 98.6%, 72.9%);
  --button: hsl(205.1, 100%, 36.1%);
  --background2: hsl(232.7, 27.3%, 23.7%);
  --background3: #638ada;

  scroll-behavior: smooth;
}

h1 {
  font-size: 2.8rem;
  width: max-content;
  max-width: 100%;
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 40px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  h1 {
    font-size: 1.8rem;
  }
}
